nav .left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(18, 18, 59);
}

.left {
    font: size 1.1rem;
}

nav li {
    margin: 0 23px;
}

nav .left li {
    list-style: none;
    text-decoration: none;
    color: white;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    color: rgb(168, 75, 255);
    font-size: 1.02rem;
}

nav > h1 li{
    gap: 150px;
}

/* nav .left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: rgb(18, 18, 59);
} */



/* nav .left {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(18, 18, 59);
    height: 90px;
}
.left {
    list-style: none;
    justify-content: space-evenly;
} */


.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 3rem;
}

.rightSection img {
    width: 95%;
}

.secondSection {
    width: 100vh;
    margin-left: 130px;
    height: 90vh;
}

.secondSection h1 {
    font-size: 1.8rem;
}

.secondSection .box {
    background-color: white;
    width: 77vw;
    height: 2px;
    margin: 40px;
    display: flex;
}

.secondSection .vertical {
    height: 50px;
    width: 1px;
    background: white;
    margin: 0 117.7px;
    justify-content: space-evenly;
}

.vertical-container {
    width: 50px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -26px;
    left: -10px;
}

.vertical-title {
    position: relative;
    top: 21px;
    width: 150px;
    left: -61px;
}

.vertical-desc {
    position: relative;
    width: 150px;
    top: 32px;
    left: -61px;
    font-size: 10px;
}

footer {
    background-color: rgb(18, 18, 59);
}

.flex {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 120px;
}

ul {
    list-style: none;
}

ul li {
    list-style: none;
    margin: 0 23px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: rgb(168, 75, 255);
    font-size: 1.02rem;
}

.footer-rights {
    text-align: center;
    color: gray;
    padding: 15px;
}